---
name: Update Nix Flake lock and dependencies
on:
  push:
    branches: [main]
  workflow_dispatch:
concurrency:
  group: nix-update-${{ github.ref }}
  cancel-in-progress: true
jobs:
  update-flake:
    name: Update Nix Flake
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Nix
        uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Update flake.lock
        run: |
          # Update the flake.lock file
          nix flake update
          # Update npmDepsHash
          nix-shell -p nix-update --run "nix-update --version=skip --flake default"

          # Check if there are any changes
          if ! git diff --exit-code --quiet flake.lock nix/packages.nix; then
            git add flake.lock nix/packages.nix
            if nix build; then
              # Commit and push changes
              git config user.name "github-actions[bot]"
              git config user.email "github-actions[bot]@users.noreply.github.com"
              git commit -m "Bot: Update nix dependencies"
              git push origin HEAD:main
            else
              echo "::error::Nix build failed"
              exit 1
            fi
          else
            echo No changes, nothing to do
          fi
